services:
  database:
    image: arm64v8/mysql:8.2
    healthcheck:
      interval: 1s
      test: ["CMD", "mysqladmin", "-u", "root", "-psymfony", "ping", "-h", "localhost"]
      timeout: 30s
      retries: 30

  php_backend:
    environment:
      XDEBUG_MODE: "off"
